.App {
  line-height: 2;
}
header{
  background-color: #4f005f;
}
h1{
  margin-left: 40px;
  display: inline;
  color: white;
}
h2{
  color:white
}
*{
  margin:auto;
  padding:0%;
}
.button{
  display: inline;
  background-color: #4f005f; /* Green */
  border:1px solid white;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  font-family: inherit;
  float: right;
  margin-inline-end: 15px;
  margin-top:0.4%;
}
.button:hover{
  cursor: pointer;
  background-color: white;
  color: #4f005f;
}
