#header{
    color: black;
    font-family: Georgia;
    margin-left: 0;
}
.text{
    margin-top: -20px;
    margin-bottom: 15px;
}
.SingleBlog{
   text-align: left;
   margin-left: 40px;
}
#img{
margin-top: 20px;
}
#button button{
    display: inline;
    margin-right: 8px;
    border-radius: 30%;
    width: 50px;
    color: white;
    background-color: #4f005f;
    
}
.reactionButton:hover{
    cursor: pointer;
  }
  .singleBlog_theme{
    display: inline;
    border: 1px solid black;
    background-color: rgb(207, 206, 206);
    border-radius: 25px;
    padding: 0.5%;
    font-size:small;
    margin-right: 10px;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
  }
  .content{
    margin-top: 2%;
    margin-bottom: 2%;
  }